# Ignorar todos los entornos virtuales en cualquier subcarpeta
**/venv/
**/env/
venv/

# Ignorar archivos temporales de Python
**/__pycache__/
*.pyc

# Ignorar el archivo de variables de entorno (SEGURIDAD)
.env
**/DataSeeder/.env
**/ObtenerInfo/.env

# Ignorar los DATOS FÍSICOS de la base de datos (Docker)
DB/pgdata/
**/DB/pgdata/