# =========================
# Backend / Python
# =========================
# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados y caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Logs y bases de datos locales
*.log
*.sqlite3

# Herramientas de tipado y testing (para cuando hagamos QA)
.mypy_cache/
.pytest_cache/
.coverage